.header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 0 20px;
  height: 64px;
  min-height: 64px;
  transition: min-height 0.3s;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

button.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
  color: var(--text-default);
}

.menu-button:hover {
  background-color: var(--link-hover-bg);
}

.navigation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

button.navigation-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--bg-main);
}

.navigation-button:hover {
  background-color: var(--link-hover-bg);
}

.navigation-button svg {
  width: 24px;
  height: 24px;
  color: var(--text-default);
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 32px;
}

.invite-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.invite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--text-default);
  cursor: pointer;
}

button.invite-button svg {
  width: 24px;
  height: 24px;
}

button.invite-button span {
  font-size: 14px;
  font-family: var(--font-inter);
  color: var(--text-default);
}

.options-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.options-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-icon {
  width: 24px;
  height: 24px;
  color: var(--text-default);
}

.menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 12px 8px 12px 12px !important;
  color: var(--text-default);
  font-size: 14px !important;
  font-family: var(--font-inter) !important;
  border-radius: 4px !important;
  background-color: var(--bg-main) !important;
  width: 100% !important;
}

.menu-item:hover {
  background-color: var(--link-hover-bg) !important;
}
