.header {
  max-height: 5.5rem;
  min-height: 5.5rem;
  width: 100%;
  z-index: 1000;
  transition: min-height 0.3s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 100%;
  margin: 0 auto;
  background-color: var(--background-primary);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.logo a {
  color: var(--foreground);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section a {
  color: var(--foreground);
  text-decoration: none;
}

.profile {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  border: 0.225rem solid var(--foreground);
}

.profile h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.profile:hover {
  transform: scale(1.05);
}
