.service-plans-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.service-plans-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.service-plans-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
