.sidebar-collapsed {
  width: 96px;
  height: calc(100% - 5.5rem);
  background-color: var(--background-secondary);
  z-index: 1000;
  border-radius: 8px;
}

.sidebar-collapsed .sidebar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-collapsed .sidebar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.sidebar-collapsed .sidebar-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.sidebar-collapsed .sidebar-control svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-collapsed .nav-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-collapsed .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-collapsed .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.sidebar-collapsed .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  color: var(--foreground);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.sidebar-collapsed .nav-item a:hover {
  background-color: var(--button-background-hover);
}

.sidebar-collapsed .nav-item a svg {
  width: 24px;
  height: 24px;
}

.sidebar-collapsed .help-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-collapsed .help-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  color: var(--foreground);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.sidebar-collapsed .help-section a:hover {
  background-color: var(--button-background-hover);
}

.sidebar-collapsed .help-section a svg {
  width: 28px;
  height: 28px;
}

.sidebar-expanded {
  width: 320px;
  height: calc(100% - 5.5rem);
  background-color: var(--background-secondary);
  z-index: 1000;
  border-radius: 8px;
}

.sidebar-expanded .sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.sidebar-expanded .sidebar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.sidebar-expanded .sidebar-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
  gap: 16px;
  padding: 0 14px;
  cursor: pointer;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.sidebar-expanded .sidebar-control svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.sidebar-expanded .nav-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-expanded .nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-expanded .nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

.sidebar-expanded .nav-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 12px 14px;
  color: var(--foreground);
  transition: background-color 0.3s ease;
  border-radius: 8px;
  width: 100%;
  text-decoration: none;
}

.sidebar-expanded .nav-item a:hover {
  background-color: var(--button-background-hover);
}

.sidebar-expanded .nav-item a svg {
  width: 24px;
  height: 24px;
}

.sidebar-expanded .help-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-expanded .help-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  color: var(--foreground);
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.sidebar-expanded .help-section a:hover {
  background-color: var(--button-background-hover);
}

.sidebar-expanded .help-section a svg {
  width: 28px;
  height: 28px;
}
