.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 96px;
  min-width: 96px;
  box-sizing: border-box;
  background-color: var(--bg-menu);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: var(--text-default);
  border-radius: 8px;
  text-decoration: none;
  width: -webkit-fill-available;
}

.nav-item a:hover {
  background-color: var(--link-hover-bg);
  color: #ffffff;
}

.nav-item a svg {
  width: 28px;
  height: 28px;
  color: var(--text-default);
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transition: 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  border: 0.225rem solid var(--text-default);
}

.profile:hover {
  transform: scale(1.05);
}

.profile-logo {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}
