.profile {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 100%;
  background-color: #00288d;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 999px;
  background-color: var(--primary);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin: 0;
}

.edit-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-image svg {
  width: 48px;
  height: 48px;
  color: #ffffff;
}

.profile-name {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px 0;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  width: 100%;
  background-color: var(--background-secondary);
}
